---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Projects">
  <meta http-equiv="refresh" content="0;url=/projects/" />
  <p>If you are not redirected, <a href="/projects/">click here</a>.</p>
</BaseLayout>
